* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
/* Header and nav */

nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 200px;
}
.navtitle {
  font-size: 45px;
  font-weight: 800;
}
.btn-primary {
  height: 64px;
  font-size: 20px;
  font-weight: 700;
  border: 0;
  border-radius: 5px;
  padding: 18px 35px;
  color: #fff;
  background: #fd6e0a;
}
.header {
  background: #fff8f3;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, left;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-left: 50px;
}
.text-primary {
  color: #fd6e0a;
}
/* banner style */
.banner {
  display: flex;
  align-items: center;
  margin: 0 200px;
}
.banner-titel {
  font-size: 85px;
  font-weight: 700;
}
.banner-sub-titel {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 20px;
}
.banner-dis {
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
}

/* About Section */

main {
  max-width: 1140px;
  margin: 0 auto;
}
.about {
  margin-top: 130px;
  border-radius: 10px;
  background: #fff8f3;
  padding: 130px 150px;
  text-align: center;
}
.about-titel {
  margin-bottom: 30px;
}
.about-description {
  font-size: 18px;
  margin-bottom: 30px;
  color: #757575;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.info-titel {
  font-size: 20px;
  color: #757575;
}
.info-discp {
  font-size: 20px;
  font-weight: 700px;
  color: #474747;
}
